@model IEnumerable<NLDTlession06CF.Models.NLDTBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NLDTBookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTPulisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NLDTCategoryID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTBookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTPulisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLDTCategoryID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
